@font-face {
    font-family: 'Asap Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Asap Bold'), local('Asap-Bold'), 
    url(http://www.allfont.de/cache/fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.woff) format('woff'), 
    url(http://www.allfont.de/cache/fonts/asap-bold_4548f3f9f00afa7e155e279e95761255.ttf) format('truetype');
}
@font-face{
	font-family: 'Asap Regular';
	src: local('Asap Regular'), local('Asap-Regular');
	font-style: normal;
	font-weight: normal;
	src:url(./asap.ttf) format('truetype');	
}
body{
	width: 100%;
	height: 100%;
	font-family: Asap Bold;
}
/*header {
    width: 100%;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 999;
}*/

.header{
	
	box-shadow: 0px 0px 0px 0px;
	height: 82px;
	position: fixed;
	top: 0px;
	z-index: 999;
	background-color: #fff;
	width: 100%;
	margin-left: 1%;
}
.link{
	
	height: 80px;
	width: 33%;
	float: left;
	display: inline-block;
	margin-top: 10px;
}
.logo{
	height: 80px;
	max-width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
}
.icons{
	height: 80px;
	width: 33%;
	float: right;
	
	display: inline-block;
}

/*.header{
	height: 50px;
	max-width: 100%;
}*/
.header1{
	background-image: url("slices/bg1_repeat.png");
	height: 15%;
	/*padding-top: 1px;*/
	padding-top: 100px;
}
.header1 img{
}
.top_header{
	height: 5%;
	margin-left: -3%;
	margin-right: 2%;
}
/*.logo {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    height: 50px;
}
.logo img{
	margin-right: auto;
	margin-left: auto;
}*/
/*.icons { 
   height: 50px;
   max-width: 20%;
   margin-top: -4%;
   margin-left: auto;
}
.icon1{
	float: right;
}
.icon2{
	float: right;
}*/
.icons ul{
	float: right;
}
.icons ul li {
    display: inline;
}
.nav {
    height: 50px;
    width: 100%;
}
.nav ul{

}

.nav ul li {
    display: inline;
}

.nav ul li a {
    font-family: Asap Bold;
    font-size: 18px;
    color: #999999;
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
}
.link ul li {
    display: inline;
}

.link ul li a {
    font-family: Asap Bold;
    font-size: 18px;
   
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
}
.link1{
	color: #333333;
}
.link2{
	color: #999999;
}
.bottom_footer{
	height: 10px;
}
.heading p {
	text-align: center;
	color:white;
	margin-top: 0px;
	font-family: Asap Bold;
	font-weight: bold;
	font-size: 52px;
}
.heading2 p{
	text-align: center;
	color: white;
	font-size: 24px;
	font-family: Asap Regular;
}
.content{
	height: 60%;
}
/*.footer1{
	height: 20px;
	margin-bottom: 0px;
	background-color: black;
}
.above_footer{
	height: 50px;
	background-image: url("slices/bg2.png");
}*/

.c1{
	height: 20%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;	
}
.c1 img{
        width: 100%;
}
.first-image{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.c2{
	
}
.c2 img{
    float: left;
    margin-left: 10%;
}
.second-image{
	height: 340px;
	max-width: 40%;
	margin-right: auto;
	margin-top: -15%;
}
.p1{
	margin-top: 0px;
	text-align: center;
	color: #333333;
	margin-bottom: 0px;
	font-family: Asap Bold;
	font-size: 36pt;
}
.p2{
	font-size: 9px;
	text-align: center;
	font-family: Asap Regular;
	font-size: 20pt;
	color: #999999;
}

.second-desc{
	margin-top: 0%;
	max-width: 50%;
	margin-left: auto;
}
.c3{
	height: 20%;
}
.c3 img{
	float: right;
	margin-right: 15%;
}
.third-image{
	height: 300px;
	max-width: 40%;
	margin-top: -18%;
	margin-left: auto;
}
.third-desc{
	margin-top: 0%;
	max-width: 50%;
	margin-right: auto;
}
.p3{
	text-align: center;
	font-size: 36pt;
	color: #333333;
	font-family: Asap Bold;
}
.p4{
	font-size: 20pt;
	text-align: center;
	margin-left: 0%;
	color: #999;
	font-family: Asap Regular;
}
.p5{
	text-align: center;
	margin-top: 55px;
	margin-bottom: 0px;
	color: #333333;
    font-size: 36pt;
   font-family: Asap Bold;
   margin-left: 15%;
}
.p6{
	text-align: center;
	font-size: 20pt;
	color: #999;
	font-family: Asap Regular;
	margin-left: 25%;
	margin-right: 8%;
}
/*.footer1 img{
	height: 5%;
	width: 5%;
	height: 20px;
	width: 20px;
    margin-left: 35%;
}
.footer1 h6{
	font-size: 5px;
	text-align: center;
	color: white;
}*/
.p7{
	text-align: center;
	font-size: 10px;
	color: white;
}
/*.footer1 p{
	font-size: 10px;
	color: white;
}*/
.button_class{
	max-width: 310px;
	margin-right: auto;
	margin-left: auto;
}
.button{
	background-color: #13BD13;
	border-radius: 0px 25px 25px 0px;
	color: white;
	font-family: Asap Regular;
	font-size: 20.3px;
}
.email{
	width: 66%;
	opacity:0.5;
	border-radius: 25px 0px 0px 25px;
	background-color: #EE8277;
	color: white;
	font-family: Asap Regular;
	font-size: 20.3px;
}
.first_footer{
	height: 40%;
	background-image: url("slices/bg2.png");
}
.last-desc{
	margin-left: 10%;
	margin-right: 10%;
	height: 75%;
}
.pp{
	font-family: Asap Regular;
	font-size: 24pt;
	color: #ffffff;
	text-align: center;
}
.ppp{
	font-family: Asap Regular;
	font-size: 16pt;
	color: #ffffff;
	text-align: center;
}
.second-footer{
	height: 280px;
	background-color: #333333;
	margin-top: -22px;
}
/*.hand-image{
	height: 280px;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}*/
/*.hand-image{
	height: 280px;
	max-width: 40%;
	margin-right: auto;
	margin-left: 10%;
	display: inline-block;
}*/
.hand-image{
	
	width: 20%;
	height: 280px;
	display: inline-block;
	float: left;
	margin-left: 10%;
}
.hand-image img{
	
}
.footer-head p{
	font-family: Asap Bold;
	font-size: 48pt;
	color: #ffffff;
} 
.footer-head{
	
	height: 260px;
	width: 30%;
	display: inline-block;
	margin-top: 4%;

}
/*.footer-head{
	/*margin-top: -25%;*/
	/*margin-top: -20%;
	max-width: 52%;
	margin-left: auto;
	margin-right: auto;
}  */
.last-footer{
	height: 50px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.img1{
	
     
}
.head-top-desc{
	font-family: Asap Regular;
	font-size: 16pt;
	color: #ffffff;
	text-align: center;
}
.down-arrow{
	max-width: 10%;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (max-width: 500px){
	.c1{
	height: 20%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;	
}
.first-image{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: 275px;
}
.c1 img{
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
}
.c2{
	height: 20%;
	width: 80%;
}
.c2 img{
    float: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 304px;
}
.second-desc{
	max-width: 80%;
	margin-left: auto;
	margin-right: 10%;
}
.second-image{
	height: 215px;
	width: 300px;
	margin-left: 5%;
	margin-top: 10%;
}
.c3{
	height: 20%;
}
.third-image{
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	max-width: 320px;
}
.c3 img{
	float: right;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
}
.third-desc{
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.button_class{
	max-width: 255px;
	margin-right: auto;
	margin-left: auto;
}
.button{
	background-color: #13BD13;
	border-radius: 0px 25px 25px 0px;
	color: white;
	font-family: Asap Regular;
	font-size: 17.3pt;
}
.email{
	width: 66%;
	opacity:0.5;
	border-radius: 25px 0px 0px 25px;
	background-color: #EE8277;
	color: white;
	font-family: Asap Regular;
	font-size: 17.3pt;
}

.second-footer{
	height: 103px;
	background-color: #333333;
	margin-top: -14px;
}
.hand-image{
       height: 100px;
       max-width: 80%;
       margin-right: auto;
       margin-left: auto;
}
.hand-image img{
	margin-left: auto;
	max-width: 100%;
	height: 100px;
}
.last-footer{
	height: 50px;
	margin-top: 0%;
}
.img1{
	
     
}
.logo{

}
.logo img {
	width: 100%;

}
/*.logo {
    max-width: 50%;
    height: 50px;
    margin-left: auto;
    margin-top: 0%;
    margin-right: auto;
}
.logo img{
	margin-left: auto;
	margin-right: auto;
}*/
.header div{

}
.link3{

}
.link{

}
/*.link1{
      float: left;
      margin-left: -10%;
}
.link2{

}*/
.nav {
    height: 50px;
    width: 100%;
}

.nav ul li {
    display: inline;
}
.nav ul li a {
    font-family: Asap Bold;
    font-size: 18px;
    color: #999999;
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
}
.link1{
	color: #333;

}
.link2{
	float: right;
	margin-top: 0%;
	margin-right: -275%;
}
.icons {
	display: none; 
}
.down-arrow{
	max-width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.header1 img{

}
.last-footer{
	margin-left: auto;
	margin-right: auto;
	max-width: 26%;
	height: 50px;
}
}


@media only screen and (min-width: 500px) and (max-width: 725px){
	.first_footer{
		margin-bottom: 22px;
	}
}


@media only screen and (min-width: 850px) and (max-width: 1100px){
 
  .footer-head p{
  	font-family: Asap Bold;
  	font-size: 40pt;
  	color: #ffffff;
  }
}
@media only screen and (min-width: 700px) and (max-width: 849px){
	
	.footer-head p{
		font-family: Asap Bold;
		font-size: 35pt;
		color:#ffffff;
	}
	.third-image img{
		width: 120%;
	}
}
@media only screen and (min-width: 600px) and (max-width:699px ){
	.footer-head{
		height: 260px;
		width: 30%;
		margin-top: 10%;
		display: inline-block;
	}
	.footer-head p{
		font-family: Asap Bold;
		font-size: 30pt;
		color: #ffffff;
	}
	.second-image img{
		width: 122%;
		height: 65%;

	}
	.third-image img{
		width: 135%;

	}
}
@media only screen and (min-width: 500px) and (max-width: 599px){
	.footer-head{
		height: 260px;
		width: 30%;
		margin-top: 10%;
		display: inline-block;
		margin-left: 10%;

	}
	.footer-head p{
		font-family: Asap Bold;
		font-size: 25pt;
		color: #ffffff;
	}
	.second-image img{
		width: 140%;
		height: 80%;

	}
	.third-image img{
		width: 130%;
		height: 72%;

	}
}
@media only screen and (min-width: 400px) and (max-width: 499px){
	
.footer-head p{
	color: #ffffff;
	margin-left: 22%;
	font-family: Asap Regular;
	font-size: 15pt;
    margin-left: 0%;
}

}
@media only screen and (max-width: 399px){
	
	.footer-head p{
		font-family: Asap Bold;
		font-size: 15pt;
		color: #ffffff;
	}
}


@media only screen and (max-width: 900px){
	.icons{
		display: none;
	}
}
@media only screen and (min-width: 100px) and (max-width: 600px){
	.heading p{
		font-size: 35pt;
	}
	.heading2 p{
		font-size: 18pt;
	}
	.p1{
		font-size: 28pt;
	}
	.p2{
		font-size: 15pt;
	}
	.p3{
		font-size: 28pt;
	}
	.p4{
		font-size: 15pt;
	}
	.p5{
		font-size: 28pt;
	}
	.p6{
		font-size: 15pt;
	}
	.pp{
		font-size: 18pt;
	}
	.ppp{
		font-size: 10pt;
	}
}



